body {
  background-image: url(../images/hand-painted-watercolor.webp);
  background-color: rgb(214, 208, 186);

  //   background-size: contain;

  text-align: center;
  font-family: Roboto, sans-serif;
  font-weight: 100;
}

img {
  display: block;
  max-width: 400px;
  height: auto;
}
ul {
  margin: 0;
  padding: 0;
  width: 400px;
  list-style-type: none;
}

li {
  margin-bottom: 10px;
  text-align: center;
}

.container {
  max-height: 1140px;
  margin-right: 50px;
  margin-left: 50px;
}

.find_container {
  max-width: 500px;
  background-color: rgb(160, 197, 204);
  border-radius: 14px;
  height: 150px;
  margin-top: 200px;
  display: block;
  padding-top: 60px;
  margin-right: auto;
  margin-left: auto;
}
.form_input {
  border-radius: 5px;
  height: 30px;
  width: 100%;
  width: 400px;
  margin-right: auto;
  margin-left: auto;
}
